doctype 5
html(lang='ja')
  head
    title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no')
    link(rel="stylesheet", href="../css/semantic.min.css")
    link(rel='stylesheet', href='../css/style.css')
  body
    #game
      #intro.overlay
        .title
        .description "にゃんこ並べ"は，チェスを使ったパズルゲーム<br>"No three points in line"の猫版です。<br>
                     どの３つの猫を選んでもその猫３匹が１直線上に並ばないように<br>１６匹の猫を盤面に並べて下さい！<br>
        .ui.green.button#startbutton スタート
      #message.overlay
        .messagelabel
        .ui.red.button#backbutton 戻る
      #main
        #header
          #countimage
          #countlabel
          #timelabel
          .clear
        #field
          i = 8
          while i--
            .row
              j = 8
              while j--
                .block
        #buttonarea
          .ui.small.red.button#resetbutton リセット
          .ui.small.purple.button.disabled#judgebutton 判定
          .ui.small.blue.button#guidebutton ガイドON
    script(src='../js/jquery-2.0.3.min.js')
    script(src='../js/semantic.min.js')
    script(src='../js/main.js')